body {
    background: no-repeat center url("./images/background.jpg");
    backdrop-filter: blur(1px);
    padding: 0;
    margin: 0;
    height: 99.98vh;
    width: 99.98vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    padding: 12px;
    display: grid;
    place-items: center;
}

form .content {
    display: flex;
    gap: 0;
}

form input {
    padding: 6px 12px;
    font: inherit;
    font-size: large;
    width: 500px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #0ca4eb;
    background-color: rgba(51, 51, 51, 0.911);
    color: white;
}

input:focus {
    background-color: rgb(32, 32, 32);
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 90%;
    color: white;
    justify-content: space-between;
}

#main .main-body {
    width: 920px;
    margin: 0 auto;
}

.body-header {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(212, 212, 212);
}


.body-content {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.content-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.content-icon img {
    width: 100%;
    height: 100%;
}

.content-degree {
    padding: 12px;
    font-size: 3rem;
    font-size: 5rem;
    font-weight: normal;
}

.content-degree sup {
    line-height: 0;
    font-size: x-large;
}

.content-description {
    margin-left: 24px;
    font-size: xx-large;
    text-transform: capitalize;
}

.main-footer {
    padding: 17px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.514);
}

.footer-section h5 {
    line-height: 1;
    font-size: large;
    border: solid red;
}

.footer-section p {
    line-height: normal;
    font-size: x-large;
}

.footer-section i {
    font-size: 2rem;
    display: block;
    font-style: normal;
}

.footer-section i.small {
    font-size: large;
}