
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in Page</title>
    <link rel="stylesheet" href="/css/index.css" />

</head>
<body>
  <a href="/">home</a>
    <h2>USER LOGIN</h2>

    <form action="/login"  method="post" id="loginForm">

      <fieldset class="formGroup">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </fieldset>

      <fieldset class="formGroup">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </fieldset>

      <fieldset  class="checkboxGroup">
        <input type="checkbox" id="rememberMe" name="rememberMe"> 
        <label for="rememberMe">Remember me</label>
      </fieldset>

      <fieldset>
        <button type="submit" class="loginBtn">Log in</button>
        <p>Don't have and account? <a href="/signup">Sign Up</a></p> 
      </fieldset>
     
    </form>
</body>
</html>
