* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --spacing-sm: 12px;
    --spacing-lg: 24px;
    --gray: #1B202A;
    --blue-gray: #2E323D;
    --lite-gray: #B8B9BB;
    --dark-blue: #122153;
    --indigo: #1C2136;
    --orange: #EF7F36;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, var(--indigo), var(--dark-blue), var(--indigo));
    color: var(--lite-gray);
}

main {
    width: 80%;
    margin: 0 auto;
    height: inherit;
}

main h1 {
    padding: var(--spacing-lg);
}

main .tabs {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.tabs .item {
    border-radius: 8px;
    background-color: var(--blue-gray);
    width: 100%;
    padding: 12px var(--spacing-lg);
    display: flex;
    align-items: center;
}

.tabs .item:hover {
    color: var(--orange);
    cursor: pointer;
}

.tabs .item .action {
    width: 50px;
}

.tabs .item .action img {
    visibility: hidden;
    opacity: 0;
    height: 30px;
}

.tabs .item:hover .action img,
.tabs .item > .action.playing img {
    visibility: visible;
    opacity: 1;
}


.tabs .item h3 {
    font-weight: normal;
}

.tabs .item .title {
    padding-left: var(--spacing-lg);
}

.tabs .item .time {
    margin-left: auto;
}


footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    padding: var(--spacing-sm);
    width: 100%;
    border-top: thin solid rgb(2, 2, 2);
    background-color: var(--indigo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-sm);
    font-size: larger;
}

footer .item {
    width: 200px;
}


footer .item.controls {
    text-align: center;
    height: 34px;
    width: 30px;
    cursor: pointer;
}

footer #duration {
    text-align: right;
    gap: 4px;
}