* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --spacing-sm: 12px;
    --spacing-lg: 24px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body>header {
    padding: var(--spacing-sm);
}


main.grid {
    display: grid;
    grid-template-columns: 270px 1fr;
}

body>footer {
    padding: var(--spacing-sm);
    margin-top: auto;
}

.sidebar .item {
    display: block;
    padding: 8px;
}