:root {
    --green: #00bb00;
    --gray: #373c46;
    --red: #ff0000;
    --blue: #6c63ff;
    --black: #131513;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    align-content: space-between;
    background-color: var(--black);
}

header {
    background-color: var(--green);
    color: var(--black);
    padding: 0 12px;
    margin: 0;
    text-align: center;
}
header h1 {
    margin: 12px 0;
}

button {
    color: var(--green);
    background-color: var(--black);
    padding: 12px 16px;
    min-width: 150px;
    font: inherit;
    outline: 0;
    border: thin solid var(--green);
    transition: transform .2s ease-in;
    width: 100%;
    text-transform: capitalize;
}

button:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.mainHeader button {
    border: 0;
    width: auto;
    background-color: transparent;
    color: var(--black);
}

.mainHeader button.active {
    border-bottom: thick solid var(--black);
    border-radius: 0;
    background-color: var(--black);
    color: var(--green);
}

button#submitBtn {
    background-color: var(--green);
    color: var(--black);
}

input {
    padding: 8px;
    border: 0;
    outline: solid var(--gray);
    background-color: transparent;
    color: var(--green);
    width: 100%;
    font: inherit;
    font-size: 1.50rem;
}

input:focus {
    outline-color: var(--green);
}

main {
    width: 360px;
}

fieldset {
    outline: 0;
    border: 0;
}

label {
    display: block;
    color: var(--gray);
    margin: 24px 0 8px 0;
    font-size: medium;
}

small {
    display: inline-block;
    color: var(--red);
    font-family: monospace;
    padding-bottom: 6px;
}

.resultSection {
    margin-top: 24px;
}

.resultSection h4 {
    color: var(--gray);
}

.resultSection h2 {
    color: var(--green);
    letter-spacing: -1px;
    max-width: 100%;
    word-wrap: break-word;
    text-wrap: wrap ;
}

footer {
    padding: 12px;
}