* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --gray: #232323;
    --lite-gray: #323232;
    --xlite-gray: #474747;
    --dark-gray: #1C1C1C;
    --blue-gray: #525D8D;
    --white: #F9F9F9;
    --turquoise: #4CC2FF;
    --dark-turquoise: #4cc3ffd0;
    --orange: #FF8232;
    --dark-blue-gray: #2E3240;
    --spacing-sm: 12px;
    --spacing-lg: 24px;
}

html {
    height: 100%;
}

body {
    height: inherit;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
}

.header {
    padding: var(--spacing-sm);
    color: var(--turquoise);
    font-size: large;
    font-weight: bolder;
}

section.grid {
    display: grid;
    grid-template-columns: 270px auto 280px;
}

.sidebar {
    padding: var(--spacing-sm);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

}

.form textarea {
    border: 0;
    outline: 0;
    background-color: var(--lite-gray);
    padding: 6px;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    color: var(--white);
    resize: none;
    border-radius: 6px;
}

.form button {
    padding: var(--spacing-sm) 0;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: var(--turquoise);
    font-size: large;
    font-weight: bolder;
}

.form button:hover {
    background-color: var(--dark-turquoise);
}

button.orange {
    background-color: var(--orange);
}

button.orange:hover {
    background-color: #eb610c;
}

.main {
    border-radius: var(--spacing-sm);
    background-color: var(--dark-gray);
    height: 505px;
    /* width: 505px; */
    margin-right: var(--spacing-sm);
    padding: var(--spacing-lg);
    overflow: auto;
    scrollbar-width: thin;
}

main.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: var(--spacing-lg);
}

main.grid h1 {
    font-size: 2rem;
    color: var(--dark-blue-gray);
}

.note {
    border-radius: 6px;
    padding: 8px;
    background-color: var(--gray);
    color: var(--white);
    outline: thin solid var(--xlite-gray);
    height: 200px;
    word-break: break-all;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;

}

.note header {
    padding-bottom: var(--spacing-lg);
    font-size: small;
    font-weight: bolder;
    color: var(--xlite-gray);
}

.note:hover {
    outline: .6rem solid #1c5a7959;
    cursor: pointer;
}

.viewer {
    display: flex;
    flex-direction: column;
    margin-right: var(--spacing-sm);
    color: var(--white);
}

.viewer .copy {
    height: 450px;
    overflow: auto;
    scrollbar-width: thin;
}

.viewer footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-lg);
    gap: var(--spacing-sm);
    margin-top: auto;
}

.viewer footer button {
    flex-basis: 100%;
    padding: 8px 0;
    border: 0;
    border-radius: 5px;
    background-color: var(--lite-gray);
    color: var(--white);
}

.viewer footer button:hover {
    outline: 1px solid var(--xlite-gray);
    font-weight: bolder;

}

.viewer footer button.delete {
    background-color: transparent;
    color: var(--orange);
}

.footer {
    margin-top: auto;
    padding: var(--spacing-sm);
    color: var(--xlite-gray);
}

.footer a {
    color: var(--dark-turquoise);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}